{% extends "base.html" %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class='message bg-dark'>
        <span>
          <strong class='USER_NAME'>{{ message[4] }}</strong><br>
          <span>{{ message[1] }}</span>
        </span>
      </div>
      </div>
    {% end %}
  {% else %}

    <h1>Error 228</h1>

  {% end %}

  <style>
    .message {
      position: relative;
      padding: 10px; /* Поля */
      margin: 0 auto;
      margin-bottom: 10px;
      color: #fff;
      width: 90%;
      border: 1px solid rgb(0, 0, 0);
    }
  </style>

  <!-- <script>
    function your_message(){
      you_name = document.getElementsByClassName('USER_NAME')[0];
      you_name = you_name.innerHTML;
      message_names = document.getElementsByClassName('message');
      let names = [];
      for(let i in message_names){
        let j = i.getElementsByClassName('USER_NAME')[0];
        names.push(j);
      }
      alert(names);
      for(let j in names) {
        if(String(j) == String(you_name)) {
          alert(j);
          j.style.color='red';
        }   
      }
    } your_message();
  </script> -->
{% end %}