{% extends "base_new.html" %}

{% block title %}
  gavnoChat - Главное
{% end %}

{% block content %}
  <h1 class='display-4' style='margin-left: 15px; color: #ccc; font-weight: 600;'>Темы</h1>
  {% if current_user %}
    {% for t in types %}
      <div style='margin-bottom: 30px;'>
      {% if t[2] <= user_info[4] %}
        <h1 style='margin-left: 15px; color: #ddd; font-weight: 600; font-size: 1.5em;'>
          <a href='/type-{{ t[0] }}' class='type_title'>{{ t[1] }}</a>
        </h1>
        {% for r in poSQL().select_fixing_themes(user_info[4], t[0]) %}
        <div class="rubric col-sm-11 col-md-11 col-lg-8 col-xl-8">
          <h1>
            <a href="/rubric-{{ r[0] }}/1">{{ r[1] }}</a>
          </h1>
          <span>{{ r[2] }}</span>
        </div>
        {% end %}
      {% end %}
      </div>
    {% end %}
  {% else %}
    {% for t in types %}
    <div style='margin-bottom: 30px;'>
      {% if t[2] <= 0 %}
        <h1 style='margin-left: 15px; color: #ddd; font-weight: 600; font-size: 1.5em;'>
          <a href='/type-{{ t[0] }}' class='type_title'>{{ t[1] }}</a>
        </h1>
        {% for r in poSQL().select_fixing_themes(0, t[0]) %}
        <div class="rubric col-sm-11 col-md-11 col-lg-8 col-xl-8">
          <h1>
            <a href="/rubric-{{ r[0] }}/1">{{ r[1] }}</a>
          </h1>
          <span>{{ r[2] }}</span>
        </div>
        {% end %}
      {% end %}
    </div>
    {% end %}
  {% end %}

  <style>
    .type_title {
      text-decoration: none;
      color: #ddd;
    }
    .type_title:hover {
      color: #ccc;
    }
    .type_title:focus {
      color: #bbb;
    }
    .rubric > h1 {
      padding-bottom: 0 !important;
      font-size: 22px;
      margin-top: 10px;
      margin-bottom: 5px;
    }
    .rubric > h1 > a {
      text-decoration: none;
      font-weight: 500;
      margin-left: 5px;
    }
    @media (min-width: 992px) {
      .rubric {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding-bottom: 5px;
        margin-bottom: 10px;
        margin-left: 10px;
      }
      .rubric span {
        padding-left: 5px;
        font-size: .95em;
      }
      .rubric > h1 > a {
        border: none;
        background: #000000;
        color: #fff;
        font-size: 22px;
        font-weight: 600;
      }
    }
    @media (max-width: 992px) {
      .rubric {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding-bottom: 5px;
        margin-bottom: 10px;
        margin-left: 10px;
      }
      .rubric span {
        padding-left: 5px;
        font-size: 1em;
      }
      .rubric > h1 > a {
        border: none;
        background: #00000000;
        color: #fff;
        font-size: 22px;
        font-weight: 600;
      }
    }
  </style>
{% end %}