{% extends "base.html" %}

{% block content %}
  {% if rubrics %}
    {% for r in rubrics %}
      <div class="rubric col-8">
        <form method="get" action="/rubric-{{ r[0] }}">
          <input value='{{ r[1] }}' name='rubric_input' id='rubric_input' type='submit' readonly><br>
        </form>
          <span>{{ r[2] }}</span>
        </div>
    {% end %}
  {% else %}

    <h1>Error 228</h1>

  {% end %}

  <style>
    .rubric {
      background: rgb(46, 46, 46);
      color: #fff;
      padding: 2px;
      padding-left: 5px;
      padding-bottom: 3px;
    }
    .rubric input {
      font-size: 20px;
      font-weight: 600;
      color: #bbbdbb;
      background: rgb(46, 46, 46);
      border: none;
      outline: none;
    }
    .rubric > span {
      font-size: 14px;
    }
    .rubric_href {
      text-decoration: none;
      color: #bbbdbb;
    }

    .rubric_href:hover {
      text-decoration: underline;
      color: #bbbdbb;
    }
  </style>
{% end %}