{% extends "base.html" %}
<!---->
{% block content %}
<div class="login">
    <form method="post" action="/login" class='login_form col-11 col-lg-8'>
        <strong class='display-3 Login'>Авторизация</strong>
        <div class='user_name' id='div_username'>
            <span class=''>username&nbsp;&nbsp;</span>
            <input type="text" name='username' id='username' class=''>
        </div>
        <div class='password' id='div_password'>
            <span class=''>password&nbsp;&nbsp;</span>
            <input type="password" name='password' id='password' class=''>
        </div>
        <button type="submit" class='btn-login'>Отправить</button> {% module xsrf_form_html() %}
    </form>
</div>
<div style='height: 1000px'>
    &nbsp;
</div>

<style>
    .Login {
        font-weight: 800;
        color: #fff;
    }
    .login_form {
        margin: 0 auto;
    }
    .login_form * {
        margin: 5px 0;
    }
    .login_form div {
        display: flex;
        padding-left: 5px;
    }
    .login_form input {
        background: rgb(15, 15, 15);
        border: none;
        font-family: 'Play', sans-serif;
        font-weight: 400;
        color: #006905;
        width: 100%;
    }
    .login_form input:focus {
        outline: none;
    }
    .login_form span {
        font-family: 'Play', sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: #888;
    }
    .user_name {
        background: rgb(15, 15, 15);
        border: 1px solid rgb(46, 46, 46);
    }
    .password {
        background: rgb(15, 15, 15);
        border: 1px solid rgb(46, 46, 46);
    }
    .btn-login {
        background: rgb(10, 10, 10);
        border: 1px solid rgb(46, 46, 46);
        color: #888;
        transition: .2s;
        font-family: 'Play', sans-serif;
        font-weight: 700;
        font-size: 16px;
        padding: 5px;
    }
    .btn-login:hover {
        border: 1px solid rgb(3, 82, 0);
        color: rgb(3, 82, 0);
    }
</style>

<script>
    username.onclick = function() {
        el_user = document.getElementById('div_username');
        el_pass = document.getElementById('div_password');
        el_user.style.cssText=` border: 1px solid rgb(3, 82, 0);
                                color: rgb(3, 82, 0); 
        `;
        el_pass.style.cssText=` border: 1px solid rgb(46, 46, 46);
                                color: #888;
        `;
    }
    password.onclick = function() {
        el_user = document.getElementById('div_username');
        el_pass = document.getElementById('div_password');
        el_pass.style.cssText=` border: 1px solid rgb(3, 82, 0);
        `;
        el_user.style.cssText=` border: 1px solid rgb(46, 46, 46);
        `;
    }
    </script>
    
{% end %}