{{ define "register" }}
{{ template "header" }}
<main class="col-lg-9 content-container">
  <div>
    <form method="post" action="/createAcc/" class='form-register'>
      <h4 style='color: #ccc;'>Регестрация</h4>
      <input type="text" name='nick' placeholder="Ник"><br>
      <input type="text" name='pass1' placeholder="Пароль"><br>
      <input type="text" name='pass2' placeholder="Подтвердить пароль"><br>
      <button type="submit">Создать</button>
    </form>
  </div>

  <style>
    .form-register {
      width: 80%;
      margin: 0 auto;
    }
    .form-register input {
      background-color: rgb(15, 15, 15);
      border: 2px solid rgb(30, 30, 30);
      width: 80%;
      margin-bottom: 10px;
      padding: 5px;
      width: 90%;
      transition: .2s;
    }
    .form-register input:focus {
      outline: none;
      box-shadow: 0 0 2px 1px rgb(148, 0, 0);
      color: #ddd;
    }
    .form-register button {
      background-color: rgb(15, 15, 15);
      border: 2px solid rgb(30, 30, 30);
      padding: 5px;
      color: #ccc;
    }
  </style>
</main>
{{ template "footer" }}
{{ end }}