{% extends "base_new.html" %}

{% block title %}
  Тема - {{ rubric[1] }} 
{% end %}

{% block content %}
  {% import datetime %}
  {% from poSQL import poSQL %}
  <h1 class='rubric_name'>
    {{ rubric[1] }}
  </h1>
  {% if rubric[9] %}
  <form method="post" action="/post-key" class='keyOpen' id='keyOpen'>
    {% module xsrf_form_html() %}
    <input name="key" id="key" placeholder="ключ">
    <input type="hidden" name="redic" value='{{ request.path }}'>
    <button type="submit">Отправить</button>
  </form>
  {% end %}

  {% if messages %}
    {% for m in messages %}
      <div class='message'>
        <div class='msg_content'>
          <spanc class='pub_date'>{{ m[4].strftime("%d.%m.%y %H:%M") }}</span>
          <div class='user_info' style='display: flex;'>
            <img class="img-fluid" style='width: 60px; height: 60px;' src="{{ m[6] }}">
            <div>
              {% if current_user %}
                {% if m[5][3] or m[5][5] %}
                  {% if m[5][3] %}
                    <string class='user_name'>
                      <a href="/userAcc-{{m[5][0]}}" style='text-decoration: none;' class='admin'>{{m[5][1]}}</a>
                    </string>
                  {% else %}
                  <string class='user_name'>
                    <a href="/userAcc-{{m[5][0]}}" style='text-decoration: none;' class='moder'>{{m[5][1]}}</a>
                  </string>
                  {% end %}
                {% else %}
                  <string class='user_name'>{{m[5][1]}}</string>
                {% end %}
              {% else %}
                {% if m[5][3] or m[5][5] %}     
                  {% if m[5][3] %}
                    <string class='user_name'>
                      <a href="/userAcc-{{m[5][0]}}" style='text-decoration: none;' class='admin'>{{m[5][1]}}</a>
                    </string>
                  {% else %}
                  <string class='user_name'>
                    <a href="/userAcc-{{m[5][0]}}" style='text-decoration: none;' class='moder'>{{m[5][1]}}</a>
                  </string>
                  {% end %}
                {% end %}
              {% end %}
                <br style='line-height: 0%; display: block; margin: 0px 0; content: " ";'>
                <span class='OP'>Опыт:
                  {% if m[5][4] >= 0 %}
                    <span class='col_op_plus'>{{m[5][4]}}</span>
                  {% else %}
                    <span class='col_op_minus'>{{m[5][4]}}</span>
                  {% end %}
                </span>
            </div>
          </div>
          <p class='msg_text' v-on:click='BlackWhite'>{{ m[1] }}</p>
        </div>
      </div>
    {% end %}
    {% if len_msgs > 15 %}
      <div class='nav_page_bar'>
        {% for l in col_stranich %}
          {% if l == int(col_msg) %}
            <div class='active_page'>
              <a href='/rubric-{{rubric[0]}}/{{l}}'>{{l}}</a>
            </div>
          {% else %}
            <div class='num_page'>
              <a href='/rubric-{{rubric[0]}}/{{l}}'>{{l}}</a>
            </div>
          {% end %}
        {% end %}
      </div>
    {% end %}
    <style>
      .nav_page_bar {
        display: flex;
        border-radius: 4px;
        margin: 0 auto;
        margin-bottom: 10px;
        max-width: 90%;
        min-width: 5% !important;
        background-color: rgb(10, 10, 10);
        border: 2px solid #2e2e30;
      }
      .num_page {
        border-right: 1px solid #333;
      }
      .active_page {
        border-right: 1px solid #333;
        background-color: rgb(7, 7, 7);
        box-shadow: inset 0px 0px 3px 1px #000;
      }
      .active_page a {
        text-decoration: none;
        color: #bbb;
        font-weight: 600;
        padding: 4px 12px;
      }
      .num_page:hover {
        color: #bbb;
        background-color: rgb(5, 5, 5);
      }
      .num_page a {
        text-decoration: none;
        color: #ddd;
        font-weight: 600;
        padding: 4px 12px;
      }
      .num_page a:hover {
        color: #bbb;
      }
      .num_page a:focus {
        color: #999;
      }
    </style>
    </div>
  {% else %}

    <h1>Сообщений нет :(</h1>

  {% end %}
  {% if current_user and rubric[5] != True %}
    <form class="form-group" method='post' action='/add-message-in-rubric-{{ rubric[0] }}' id='form_message'>
      <input value='{{ rubric[1] }}' name='rubric_name' id='rubric_name' type="hidden" readonly>
      <input type="hidden" name="redic" value='{{request.path}}' readonly>
      <textarea id="message_textarea" class='' name="message_textarea" rows="5" placeholder="Ваше сообщение"></textarea>
      <button class="btn btn-dark col-12" type="submit">Отправить</button>
      {% module xsrf_form_html() %}
    </form>
  {% end %}

  {% if len(messages) < 3 %}
    <div style='height: 1000px '>
      &nbsp;
    </div>
  {% elif 3 >= len(messages) < 6 %}
    <div style='height: 500px'>
      &nbsp;
    </div>
  {% end %}

  <style>
    .rubric_name {
      color: #ddd;
      margin-left: 5px;
    }
    .keyOpen {
      margin-bottom: 10px;
      padding: 5px 10px;
    }
    .keyOpen input[name='key'] {
      color: rgb(127, 170, 42);
      background-color: rgb(10, 10, 10);
      border: 2px solid #2e2e30;
      transition: .2s;
      border-radius: 3px;
      padding: 2px;
    }
    .keyOpen input[name='key']:focus {
      color: yellowgreen;
      outline: none;
      border: 2px solid green;
    }
    .keyOpen button {
      color: #a8a8a8e8;
      background: rgb(10, 10, 10);
      border: 1px solid #2e2e30;
    }
    .message {
      margin-bottom: 20px;
      min-height: 170px;
      border-top: 1px solid #333;
      border-bottom: 1px solid #333;
    }
    .pub_date {
      font-size: .8em;
    }
    .msg_content {
      padding-left: 10px;
    }
    .user_name {
      color: #cfcfcf;
      font-weight: 900;
      font-size: 1.3em;
    }
    .msg_text {
      color: #fff;
      font-size: 1.1em;
    }
    .OP {
      font-size: 1.1em;
      color: #bbb;
      position: relative;
      bottom: 3px;
    }
    .col_op_plus {
      color: green;
    }
    .col_op_minus {
      color: red;
    }
    #form_message {
      margin-top: 25px;
      margin-left: 5px;
      margin-right: 5px;
    }
    #form_message #message_textarea {
      background: rgb(10, 10, 10);
      color: #ebebeb;
      width: 100%;
      border-radius: 5px;
      padding: 5px;
      border: 1px solid #2e2e30;
    }
    #form_message > #message_textarea:focus {
      border: 1px solid rgb(3, 82, 0);
      background: rgb(5, 5, 5);
      outline: none !important;
    }
    #message_textarea::placeholder {
      color: #a8a8a8e8;
      font-weight: 600;
    }
    #message_textarea::-moz-placeholder {
      color: #a8a8a8e8;
      font-weight: 600;
    }
    .btn-dark {
      color: #a8a8a8e8;
      background: rgb(10, 10, 10);
      border: 1px solid #2e2e30;
    } 
    .btn-dark:hover {
      color: #ebebeb;
      background: rgb(0, 0, 0);
      border: 1px solid rgb(3, 82, 0);
    }
    .smok {
      background: #000;
      background-blend-mode: overplay; 
      padding: 0;
      border: 0;
    }
    .smok:hover {
      color: #fff; 
      outline: 0;
    }
    .smok:focus {
      color: #fff; 
      outline: 0;
    }

    .moder {
      animation: moder 10s infinite;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
    }

    .admin {
      animation: admin 10s infinite;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
    }

    @keyframes moder {
      10% {
        background: linear-gradient(to right, rgb(204, 0, 255), rgb(197, 0, 247), 40%, rgb(156, 0, 247));
      }
      20% {
        background: linear-gradient(to right, rgb(195, 0, 243), rgb(206, 8, 255), 40%, rgb(162, 0, 255));
      }
      30% {
        background: linear-gradient(to right, rgb(191, 7, 236), rgb(201, 6, 250), 40%, rgb(158, 5, 247));
      }
      40% {
        background: linear-gradient(to right, rgb(195, 0, 243), rgb(206, 8, 255), 40%, rgb(162, 0, 255));
      }
      50% {
        background: linear-gradient(to right, rgb(214, 0, 255), rgb(197, 0, 247), 40%, rgb(166, 0, 247));
      }
      60% {
        background: linear-gradient(to right, rgb(223, 0, 243), rgb(206, 8, 255), 40%, rgb(168, 0, 255));
      }
      70% {
        background: linear-gradient(to right, rgb(191, 7, 236), rgb(201, 6, 250), 40%, rgb(158, 5, 247));
      }
      80% {
        background: linear-gradient(to right, rgb(195, 0, 243), rgb(206, 8, 255), 40%, rgb(162, 0, 255));
      }
      90% {
        background: linear-gradient(to right, rgb(205, 6, 255), rgb(218, 0, 247), 40%, rgb(162, 0, 255));
      }
      100% {
        background: linear-gradient(to right, rgb(204, 0, 255), rgb(197, 0, 247), 40%, rgb(156, 0, 247));
      }
    }
    @keyframes admin {
      10% {
        background: linear-gradient(to right, rgb(255, 217, 4), rgb(255, 196, 4), 40%, rgb(255, 237, 4));
      }
      20% {
        background: linear-gradient(to right, rgb(255, 207, 4), rgb(255, 237, 4), 43%, rgb(255, 226, 11));
      }
      30% {
        background: linear-gradient(to right, rgb(255, 197, 4), rgb(255, 207, 4), 47%, rgb(255, 207, 4));
      }
      40% {
        background: linear-gradient(to right, rgb(255, 188, 4), rgb(255, 217, 4), 50%, rgb(255, 227, 4));
      }
      50% {
        background: linear-gradient(to right, rgb(255, 227, 4), rgb(255, 237, 4), 47%, rgb(255, 247, 4));
      }
      60% {
        background: linear-gradient(to right, rgb(255, 217, 4), rgb(255, 227, 4), 50%, rgb(255, 237, 4));
      }
      70% {
        background: linear-gradient(to right, rgb(255, 197, 19), rgb(255, 217, 4), 53%, rgb(255, 227, 4));
      }
      80% {
        background: linear-gradient(to right, rgb(255, 198, 9), rgb(255, 207, 4), 50%, rgb(255, 217, 4));
      }
      90% {
        background: linear-gradient(to right, rgb(255, 207, 4), rgb(243, 207, 6), 47%, rgb(255, 227, 4));
      }
      100% {
        background: linear-gradient(to right, rgb(255, 227, 4), rgb(255, 237, 4), 43%, rgb(255, 247, 4));
      }
    }
  </style>

  <script>
    function msg_func(){
      let all_message = document.getElementsByClassName('message');
      let all_text = document.querySelectorAll("p.msg_text");
      all_text.forEach(i => {
        let j = i.innerHTML;
        let m = j.toString();
        
        let re = /#!.+!#/g;
        let re1 = /#!/g;
        let re2 = /!#/g;
        let rebr = /\[br\]/g;
        let br = m.replace(rebr, `<br>`);
        let a = br.replace(re1, `<button class='smok'>`);
        let b = a.replace(re2, `</button>`);
        i.innerHTML = b;
        });
  } msg_func();
  </script>
{% end %}