{{ define "theme" }}
{{ template "header" }}
<main class="col-lg-9 content-container">
  <!-- Основной контент страницы  -->
  <h1 style='margin-left: 5px;'>{{ .ThemeInfo.Title }}</h1>

  {{if .ThemeInfo.Anon }}
    <div style="margin-left: 5px; margin-bottom: 10px;">
      <form method="post" action="/heKey/" class="heKey">
        <input type="text" name='Key' placeholder="Ключ">
        <button type="submit">Отвправить</button>
      </form>
    </div>
  {{end}}

  <div class='MsgBlock'>
    {{range .Messages}}
      <div class="Message">
        <div class='UserInfo'>
          {{range .UserInfo}}
            <div style="margin-right: 5px;">
              <img src="/static/avatar/{{.Ava}}" style='width: 60px; height: 60px;'>
            </div>
            <div>
              <h3 class='UserName' style="color:{{.Color}};" >{{.Name}}</h3>
              <span style='font-size: .93em;'> 
                <span>Репутация:</span>
                <span style='color: rgb(16, 136, 0);'>{{.Op}}</span>
              </span>
            </div>
          {{else}}
            <strong>
              ???
            </strong>
          {{end}}
        </div>
        <div class="ContentMsg">
          <p style='color: #fff;'>{{.TextMsg}}</p>
        </div>
      </div>
    {{else}}
      <h1>Пусто:(((</h1>
    {{end}}

    {{if .User}}
      <div class='divAddMsg'>
        <form method="post" action="/addMsg/">
          <textarea name="MsgText" placeholder="Ваше сообщение"></textarea>
          <input type="hidden" name="themeID" value="{{ .ThemeInfo.ID }}">
          <input type="hidden" name="userID" value="{{ .User.ID }}">
          <button type="submit" class='AddMsgButton'>Отправить</button>
        </form>
      </div>
    {{else}}
      <div></div>
    {{end}}
  </div>

  <style>
    .heKey input {
      background-color: rgb(10, 10, 10);
      border: 2px solid rgb(20, 20, 20);
      transition: .2s;
      padding: 2px 1px;
    }
    .heKey input::placeholder {
      padding-left: 2px;
    }
    .heKey input::-moz-placeholder {
      padding-left: 2px;
    }
    .heKey input:focus {
      outline: none;
      box-shadow: 0 0 2px 1px rgb(148, 0, 0);
      color: #ddd;
    }
    .heKey button {
      background-color: rgb(10, 10, 10);
      border: 1px solid rgb(20, 20, 20);
    }
    .heKey button:hover {
      box-shadow: inset 0 0 2px 1px rgb(0, 0, 0);
      background-color: rgb(8, 8, 8);
      border: 1px solid rgb(18, 18, 18);
    }
    .Message {
      border-top: 1px solid #888;
      border-bottom: 1px solid #888;
      padding: 10px 5px;
      min-height: 160px;
      margin-bottom: 20px;
    }
    .UserInfo {
      display: flex;
      margin-bottom: 5px;
      background-color: rgb(10, 10, 10);
      border-radius: 5px;
      padding: 5px;
    }
    .UserName {
      margin-bottom: 0;
      font-size: 1.35em;
      font-weight: 400;
    }
    .ContentMsg p {
      font-size: 16px;
    }
    .MsgBlock {
      margin-bottom: 10px;
    }
    .divAddMsg {
      width: 100%;
    }
    .divAddMsg form {
      width: 100%;
    }
    textarea[name="MsgText"] {
      background-color: rgb(15, 15, 15);
      border: 2px solid rgb(30, 30, 30);
      border-radius: 3px;
      width: 95%;
      height: 200px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      transition: .2s;
    }
    textarea[name="MsgText"]:focus {
      outline: none;
      background-color: rgb(10, 10, 10);
      border: 2px solid rgb(20, 20, 20);
    }
    textarea[name="MsgText"]::placeholder {
      font-size: 18px;
    }
    textarea[name="MsgText"]::-moz-placeholder {
      font-size: 18px;
    }
    .AddMsgButton {
      background-color: rgb(15, 15, 15);
      border: 2px solid rgb(30, 30, 30);
      border-radius: 2px;
      padding: 7px 0;
      padding-left: 10px;
      font-weight: 600;
      text-align: left;
      width: 95%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .AddMsgButton:hover {
      outline: none;
      background-color: rgb(10, 10, 10);
      border: 2px solid rgb(20, 20, 20);
      color: #777;
    }
  </style>

  <script>
    function MsgCover() {
      const messagesText = document.querySelectorAll("div.Message .ContentMsg p");
      const res = {
        "br": /\[br\]/g,
        "http": /\[a="http\:\/\/.+\..+"\].+\[\/a\]/g,
        "https": /\[a="https\:\/\/.+\..+"\].+\[\/a\]/g,
      }
      
      let msgCoverText
      let httpList
      let httpsList
      let replaceHttp
      let replaceHttps

      messagesText.forEach((msg) => {
        msgCoverText = msg.innerHTML.replace(res["br"], `<br>`);

        httpList = msgCoverText.match(res["http"]);
        if(httpList) {
          httpList.forEach((http) => {
            replaceHttp = http.replace(/\[a=/g, `<a class="linkHttp" href=`);
            replaceHttp = replaceHttp.replace(/"\]/g, `">`);
            replaceHttp = replaceHttp.replace(/\[\/a\]/g, `</a>`);

            msgCoverText = msgCoverText.replace(http, replaceHttp);
          });
        }

        httpsList = msgCoverText.match(res["https"]);
        if(httpsList) {
          httpsList.forEach((https) => {
            replaceHttps = https.replace(/\[a=/g, `<a class="httpsLink" href=`);
            replaceHttps = replaceHttps.replace(/"\]/g, `">`);
            replaceHttps = replaceHttps.replace(/\[\/a\]/g, `</a>`);

            msgCoverText = msgCoverText.replace(https, replaceHttps);
          });
        }

        msg.innerHTML = msgCoverText;
      });
    } MsgCover();
  </script>
</main>
{{ template "footer" }}
{{ end }}