{{ define "theme" }}
{{ template "header" }}
<main class="col-lg-9 content-container">
  <!-- Основной контент страницы  -->
  {{if .User}}
  {{ $user := .User }}
  <h1 style='margin-left: 5px;'>{{ .ThemeInfo.Title }}</h1>

  <div style="margin-left: 5px; margin-bottom: 10px;">
    <form method="post" action="/heKey/" class="heKey">
      <input type="text" name='Key' placeholder="Ключ">
      <button type="submit">Отвправить</button>
    </form>
  </div>

  <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script-->
  <section class='MsgBlock'>
    {{range $m := .Messages}}
      {{if ne $m.Number 0}}
      <div>
        <span>{{dateTimeConver $m.PubDate}}</span>
        <span class="float-right">#{{ $m.Number }}</span>
      </div>
      <div class="Message">
        <div class='UserInfo'>
          {{range $u := $m.UserInfo}}
            <div style="margin-right: 5px;">
              <img src="/static/avatar/{{$u.Ava}}" style='width: 60px; height: 60px;'>
            </div>
            <div>
              <h3 class='UserName' style="color:{{$u.Color}};" >{{$u.Name}}</h3>
              <span style='font-size: .93em;'> 
                <span>Репутация:</span>
                <span style='color: rgb(16, 136, 0);'>{{$u.Op}}</span>
              </span>
            </div>
          {{else}}
            <strong>
              ???
            </strong>
          {{end}}
        </div>
        <div class="ContentMsg">
          <p style='color: #fff;'>{{$m.TextMsg}}</p>
        </div>
        <div class="options">
          <div class="podoptions row">
          {{ range $u := $m.UserInfo }}
            {{ if and (eq $u.Name $user.Name) (eq $u.ID $user.ID) (eq $u.Op $user.OP) }}
            <div>
              <button type="button" class="regMsgBtn" data-bs-toggle="modal" data-bs-target="#modalWindow{{$m.ID}}">
                Редак
              </button>
            <div class="modal fade" id="modalWindow{{$m.ID}}" tabindex="-1" aria-labelledby="exampleModalLabel{{$m.ID}}" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel{{$m.ID}}">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form method="post" action="/updateMsg/">
                    <div class="modal-body">
                        <textarea name="regMsgText" class="regMsgText">{{ $m.TextMsg }}</textarea>
                        <input type="hidden" name="userID" value="{{ $m.UserID }}">
                        <input type="hidden" name="msgID" value="{{ $m.ID }}">
                    </div>
                    <div class="modal-footer">
                      <button type="button" data-bs-dismiss="modal">Закрыть</button>
                      <button type="submit">Сохранить</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            </div>
            {{end}}
          {{ else }}
          <!-- pass -->
          {{ end }}
          {{ if $user }}
          <div>
            <form method="post" action="/addLike/" class='addLikeForm'>
              <input type="hidden" name="userID" id="addLikeUserID{{$m.ID}}" value="{{ $user.ID }}" readonly>
              <input type="hidden" name="msgID" id="addLikeMsgID{{$m.ID}}" value="{{ $m.ID }}" readonly>
              <button type="submit" id="AddLikeSubmitBtn{{$m.ID}}" class='addLikeSubmitBtnClass'>
                Оценить
              </button>
              <script>
                var stop = false;
                if(stop === false){
                $('#AddLikeSubmitBtn{{$m.ID}}').on('submit', function(e){
                  let userID = $("#addLikeUserID{{$m.ID}}").val();
                  let msgID = $("#addLikeMsgID{{$m.ID}}").val();
                  e.preventDefault();
                  $.ajax({
                    url: "/addLike/",
                    type: "POST",
                    data: {
                      userID: userID,
                      msgID: msgID,
                    },
                    success: function(results){
                      let el = document.getElementById("LikeSelectUsers{{$m.ID}}");
                      let elHTML = el.innerHTML;
                      if(elHTML.match(/и еще.+/g)){
                        sliceInt = elHTML.match(/и еще.+/g);
                        alert(sliceInt);
                        sliceInt = string(sliceInt).slice(6);
                        alert(sliceInt);
                      }else{
                        el2 = document.getElementById("PostLikeSelectUsers{{$m.ID}}");
                        el2.innerHTML = el2.innerHTML+"\r<span>, {{$user.Name}}</span>";
                        alert("aa");
                      }
                    }
                  });
                });
                stop=true;
                }
              </script>
            </form>
          </div>
          {{ end }}
          </div>
        </div>
        <div id="LikeSelectUsers{{$m.ID}}">
          {{ if $m.Likes }}
            {{ $lenLikes := len $m.Likes }}
            <div style="display: inline-block;" id="PostLikeSelectUsers{{$m.ID}}">
            {{ if eq $lenLikes 1 }}
              {{range $l := $m.Likes}}
                  <span>{{ $l.UserName }}</span>
              {{else}}
                <!-- pass -->
              {{end}}
            {{else}}
              {{if lt $lenLikes 5}}
                {{ $srezLikes := minus $lenLikes 1 }}
                {{range $l := slice $m.Likes 0 $srezLikes }}
                    <span>{{ $l.UserName }},</span>
                {{else}}
                  <!-- pass -->
                {{end}}
                {{range $l := slice $m.Likes $srezLikes }}
                    <span>{{ $l.UserName }}</span>
                {{else}}
                  <!-- pass -->
                {{end}}
              {{else}}
                {{if ge $lenLikes 5}}
                  {{range $l := slice $m.Likes 0 3}}
                      <span>{{ $l.UserName }},</span>
                  {{else}}
                    <!-- pass -->
                  {{end}}
                  <span>{{ (index $m.Likes 4).UserName }}</span>
                  {{ $lenLikesOst := slice $m.Likes 4 }}
                  <span>и еще {{ len $lenLikesOst }}</span>
                {{else}}
                {{end}}
              {{end}}
            {{end}}
            </div>
          {{ end }}
        </div>
        {{end}}
      </div>
    {{else}}
      <h1>Пусто:(((</h1>
    {{end}}

    <div class='divAddMsg'>
      <form method="post" action="/addMsg/">
        <textarea name="MsgText" placeholder="Ваше сообщение"></textarea>
        <input type="hidden" name="themeID" value="{{ .ThemeInfo.ID }}">
        <input type="hidden" name="userID" value="{{ .User.ID }}">
        <button type="submit" class='AddMsgButton'>Отправить</button>
      </form>
    </div>
  </section>
  {{else}}
    <!-- pass -->
  {{end}}

  <style>
    .heKey input {
      background-color: rgb(10, 10, 10);
      border: 1px solid rgb(20, 20, 20);
      transition: .2s;
      padding: 2px 0;
    }
    .heKey input::placeholder {
      padding-left: 2px;
    }
    .heKey input::-moz-placeholder {
      padding-left: 2px;
    }
    .heKey input:focus {
      outline: none;
      box-shadow: 0 0 2px 1px rgb(148, 0, 0);
      color: #ddd;
    }
    .heKey button {
      background-color: rgb(10, 10, 10);
      border: 1px solid rgb(20, 20, 20);
    }
    .heKey button:hover {
      box-shadow: inset 0 0 2px 1px rgb(0, 0, 0);
      background-color: rgb(8, 8, 8);
      border: 1px solid rgb(18, 18, 18);
    }
    .Message {
      border-top: 1px solid #888;
      border-bottom: 1px solid #888;
      padding: 10px 5px;
      min-height: 160px;
      margin-bottom: 20px;
    }
    .UserInfo {
      display: flex;
      margin-bottom: 5px;
      background-color: rgb(10, 10, 10);
      border-radius: 5px;
      padding: 5px;
    }
    .UserName {
      margin-bottom: 0;
      font-size: 1.35em;
      font-weight: 400;
    }
    .ContentMsg p {
      font-size: 16px;
    }
    .MsgBlock {
      margin-bottom: 10px;
    }
    .divAddMsg {
      width: 100%;
    }
    .divAddMsg form {
      width: 100%;
    }
    textarea[name="MsgText"] {
      background-color: rgb(15, 15, 15);
      border: 2px solid rgb(30, 30, 30);
      border-radius: 3px;
      width: 95%;
      height: 200px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      transition: .2s;
    }
    textarea[name="MsgText"]:focus {
      outline: none;
      background-color: rgb(10, 10, 10);
      border: 2px solid rgb(20, 20, 20);
    }
    textarea[name="MsgText"]::placeholder {
      font-size: 18px;
    }
    textarea[name="MsgText"]::-moz-placeholder {
      font-size: 18px;
    }
    .AddMsgButton {
      background-color: rgb(15, 15, 15);
      border: 2px solid rgb(30, 30, 30);
      border-radius: 2px;
      padding: 7px 0;
      padding-left: 10px;
      font-weight: 600;
      text-align: left;
      width: 95%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .AddMsgButton:hover {
      outline: none;
      background-color: rgb(10, 10, 10);
      border: 2px solid rgb(20, 20, 20);
      color: #777;
    }
  </style>
  <script>  
    function MsgCover() {
      const messagesText = document.querySelectorAll("div.Message .ContentMsg p");
      const res = {
        "br": /\[br\]/g,
        "http": /\[a="http\:\/\/.+\..+"\].+\[\/a\]/g,
        "https": /\[a="https\:\/\/.+\..+"\].+\[\/a\]/g,
      }

      let msgCoverText
      let httpList
      let httpsList
      let replaceHttp
      let replaceHttps

      messagesText.forEach((msg) => {
        msgCoverText = msg.innerHTML.replace(res["br"], `<br>`);

        httpList = msgCoverText.match(res["http"]);
        if(httpList) {
          httpList.forEach((http) => {
            replaceHttp = http.replace(/\[a=/g, `<a class="linkHttp" href=`);
            replaceHttp = replaceHttp.replace(/"\]/g, `">`);
            replaceHttp = replaceHttp.replace(/\[\/a\]/g, `</a>`);

            msgCoverText = msgCoverText.replace(http, replaceHttp);
          });
        }

        httpsList = msgCoverText.match(res["https"]);
        if(httpsList) {
          httpsList.forEach((https) => {
            replaceHttps = https.replace(/\[a=/g, `<a class="httpsLink" href=`);
            replaceHttps = replaceHttps.replace(/"\]/g, `">`);
            replaceHttps = replaceHttps.replace(/\[\/a\]/g, `</a>`);

            msgCoverText = msgCoverText.replace(https, replaceHttps);
          });
        }

        msg.innerHTML = msgCoverText;
      });
    } MsgCover();
  </script>
  <!-- <script>
    $("#AddLikeSubmitBtn").click()
  </script> -->
</main>
{{ template "footer" }}
{{ end }}